body{
    background:wheat ;

}
.column{
    background: white;
    width: 20rem;
    padding: 1.5rem 2rem;
    margin: 4% auto;
}
.btn-btn{
    background-color: rgb(87, 230, 87);
    color: white;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
    width: 5rem;
}
#score{
    display: none;
}
.btn-btn:hover, .btn-btn:focus{
    cursor: pointer;
}